body{
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* Header elements */
#silas-header{
    text-align: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
}

#navbar a{
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
}

#navbar a:hover{
    background-color: black;
    color: whitesmoke;
}

hr{
    border: 0.1px solid rgb(231, 231, 231);
}

header img{
    width: 110px;
    height: 120px;
}

/* main section elements */
#main-section{
    margin: 0 auto;
    width: 50%;
    font-size: 2rem;
}

#welcome-section{
    transition: 0.2s;
}

#welcome-section:hover{
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}

.project-title img{
    width: 250px;
    height: 250px;
}
.project-title {
    text-align: left;
}
#projects{
    text-align: center;
}

.projects-sect:hover{
    width: auto;
    height: auto;
    transition: 2s;
}


#projects a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    transition: 0.5s,
}

#projects a:hover{
    background-color: white;
    color: black;
}

.project-title{
    padding: 40px;
}

article button{
    width: 100%;
}
label{
    margin-left: 0;
}

@media (max-width: 600px){
    body{
        background-color: black;
        color: white;
    }

    header{
        color: black;
    }
}

#about-me {
    padding: 0;
}

#silas {
    border-radius: 50%;
}